* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: arial;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
  }
  
  /*Boton para Registar cuenta*/
  .olvide1 {
      /* background: #000000;*/
      color: white;
      text-decoration-style: none;
      text-decoration-line: none;
      font-size: 15px;
      font-weight: 900!important;
      /* border: 2px solid white; */
      padding: 10px;
      border-radius: 10px;
      background: black;
  }
  .olvide1:hover {
      color: red;
      text-decoration-style: none;
      text-decoration-line: none;
      cursor: pointer;
  }
  .table{
    margin-top: 10px;
    margin-left: 25%;
 }